body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(pink, red);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

header {
    text-align: center;
    height: fit-content;
}

.animestart:hover {
    filter:brightness(1.1);
    transform: scale(1.01);
}

/* Manche suivante && Victory Checkbox */
.manche {    
    width: 7rem;
    height: 1.5rem;
    border-radius: 0.3rem;  
    padding-left: 0.5rem;  
    display: flex;
    background-color: rgb(201, 201, 201);
    color: red;
    z-index: 2;
}
.P1 {
    margin: 2.5rem 0 0 9rem;
    float: left;
}
.P2 {
    margin: 2.5rem 9rem 0 0;    
    float: right;
}
.winP1 {
    width: 1rem;
    height: 1rem;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin: auto;
}
.winP2 {
    width: 1rem;
    height: 1rem;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin: auto;
}

#victoryTitle {
    font-size: 5rem;
    margin: 5rem 0 0 0;
    line-height: 7rem;
}
#victoryAlert button {
    margin: 4rem 0;
}
/* ALERT BOX Div */
.endBox {
    display: block;
    width: 50rem;
    height: 33rem;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: 2rem auto 0 auto;    
    text-align: center;
    font-size: 3rem;
    background-color: rgb(224, 223, 223);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 55px black;
    z-index: 1;
}
.endBoxOut {
    display: none;
}
.endBox button {
    border: none;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 18rem;
    border-radius: 5rem;
    letter-spacing: 0.2rem;
    background-color: rgb(238, 102, 102, 0.720);
    color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.219);
}
.endBox button:hover {
    filter: brightness(1.1);
    scale: 1.01;
}
.endBox button:active {
    scale: 0.99;
}
#endTitle {
    margin-top: 5rem;
}
#endTextPl1 {
    float: left;
    margin: 5rem 0 0 5rem;
}
#endTextPl2 {
    float: right;
    margin: 5rem 5rem 0 0;
}
.endBox span {
    position: absolute;
    margin-top: 4rem;
    font-weight: bold;
    color: red;
}

.game {
    width: 56.25rem;
    height: 37.5rem;
    margin: auto;
    margin-top: 10px;
    background-image: url(../img/fondTrait.jpg);
    background-position: center;
    background-size: cover;
    border: 3px solid rgb(238, 102, 102);
}

.animestart{
    color: #444;
    font-size: 20px;
    height: 40px;  
    letter-spacing: 1px;
    margin-top: 12px;
    border: none;
    border-radius: 3px;
    background-color: rgb(253, 190, 190);

    animation: start 0.8s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.button {
    font-size: 1.5rem;
    padding: 0 5px;
    letter-spacing: 1px;
    height: 60px;  
    background-color: rgb(253, 190, 190);
}
.button1 {
    color: #444;
    font-size: 20px;
    height: 40px;  
    letter-spacing: 1px;
    margin-top: 12px;
    border: none;
    border-radius: 3px;
    background-color: rgb(253, 190, 190);
}
.button:hover {
    background-color: rgb(253, 190, 190, 0.5);
    border: 1px solid rgb(250, 76, 76);
}
.button1:hover {
    background-color: rgb(253, 190, 190, 0.5);
    border: 1px solid rgb(250, 76, 76);
}

i {
    color: red;
}
#ic {
    font-size: 35px;
}
.gameout {
    display:none;
}
.gamein {
    display: block;
}

.roll {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 0 5px;
}
.hold {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

/* DE 1 */
.de {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2.5rem;
    padding: 0.1rem;
    min-width: 6.1rem;
    max-width: 6.1rem;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.527);
}
.block {
    margin: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.027);
    border-radius: 50%;    
}
#dice1 {
    background-color: white;
}

 /* DE 2 */
.de2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0.1rem;
    min-width: 6.1rem;
    max-width: 6.1rem;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.527);
}
.block2 {
    margin: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.027);
    border-radius: 50%;
}
#dice2 {
    background-color: white;
}

#pl {
    margin-top: 20px;
    font-size: 30px;
    letter-spacing: 3px;
}

.player1 {
    padding: 10px;
    text-align: center;
    float: left;
    margin-left: 5%;
    width: 300px;
    height: 450px;
}

#on1 {
    font-size: 15px;
    margin-left: 15px;
    color: gray;
}
#on2 {
    font-size: 15px;
    margin-left: 15px;
    color: gray;
}

#score1Total {
    margin: auto;
    height: 100px;
    width: 200px;
}

.player2 {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    float: right;
    margin-right: 5%;
    width: 300px;
    height: 450px;
}
#score2Total {
    margin: auto;
    height: 100px;
    width: 200px;
}

#score1 {
    color: red;
    font-size: 65px;
    margin-top: 10px;
}
#score2 {
    color: red;
    font-size: 65px;
    margin-top: 10px;
}

#pCur {
    margin-top: 50px;
    padding: 10px;
}

.cur1 {
    margin: auto;
    font-size: 20px;
    margin-top: 100px;
    height: 100px;
    width: 150px;
    background-color: rgb(196, 55, 55);
}
.cur2 {
    margin: auto;
    font-size: 20px;
    margin-top: 100px;
    height: 100px;
    width: 150px;
    background-color: rgb(196, 55, 55);
}
#curScore1 {
    color: white;
    font-size: 35px;
    margin-top: 20px;
}
#curScore2 {
    color: white;
    font-size: 35px;
    margin-top: 20px;
}

/* SOUND MUTE */

#muteSound {
    height: 1.5rem;
    width: 3rem; 
    border: none;
    border-radius: 0 0 2rem 0;
    background-color: rgba(238, 102, 102, 0.644);
}
.soundVolume {
    height: 1.2rem;
    width: 1.2rem; 
    margin-right: 0.5rem;
}

@keyframes start {

    0% {
        margin-top: 12px;
    }
    60% {
        margin-top: 15rem;
        box-shadow: 1px 1px 2px black;
    }
    65% {
        transform-origin: left;
        box-shadow: 3px 3px 5px black;
    }
    70% {
        height: 10rem;
        width: 23rem;
        transform: rotateY(2160deg);
        box-shadow: 5px 8px 15px black;
    }
    100% {
        font-size: 3rem;
        margin-top: 12rem;
        height: 10rem;
        width: 23rem;        
        animation-play-state: inherit; 
        box-shadow: 5px 10px 30px black;
    }
}

